<script>
	document.getElementById('reviewed').parentElement.style.background = "lightcyan"
</script>

<div class="info">
	Estes são os filmes já avaliados pelo usuário logado.
</div>
<%= render 'movies' %>