<script>
	document.getElementById('past').parentElement.style.background = "lightcyan"
</script>

<div class="info" style="text-align: center">
	<b>EM MANUTENÇÃO</b>
	<br><br>
</div>

<% render 'movies' %>