/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
{
	margin: 0px;
	margin-top: -21px;
	font-family: monospace;
}

.header
{
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
	background-color: lightgreen;
}

.options
{
	border: 1px solid grey;
	background-color: lightblue;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
	display: block;
}

.options ul
{
}

.options li
{
	padding: 10px 0px;
}

.options li:hover
{
	background-color: white;
}

.options .option
{
	color: black;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
	display: inline-block;
	min-width: 200px;
	display: inline-block;
	width: 23%;
}

.header h1 a
{
	text-decoration: none;
	color: black;
}

.user-area
{
	
}

.movies
{
	list-style: none;
	padding: 20px;
	text-align: center;
	margin: 0px;
	background-color: #D2B48C;
}

.movie
{
	display: inline-block;
	width: 180px;
	height: 250px;

	margin: 10px;
	padding: 12px 15px;
	line-height: 25px;
	border:1px solid black;

	cursor: pointer;

	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 400;

	background-color: grey;

	position: relative;
}

.movie .poster img
{
  	height : auto;
}

.movie .title
{
	height: 55px;
}

.movie .rating
{
	height: 10px;
}

.movie a
{
	color: black;
}

.movie.liked
{
	background-color: green;
}

.movie a.like
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px;
	border-radius: 20px;
	border: solid 1px;
	background-color: green;
}

.movie a.like:hover
{
	background-color: red;
}

.movie a.unlike
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px;
	border-radius: 20px;
	border: solid 1px;
	background-color: grey;
}

.movie a.unlike:hover
{
	background-color: red;
}

.movie:hover
{
	background-color: yellow;
} 

.movies a
{
	text-decoration: none;
}

.movie-info
{
	padding: 40px;
}

.sign-in
{
	padding: 5%;
	font-size: 1.5em;
}

.new_user .field input
{
	line-height: 1em;
	width: 25%;
	height: 30px;
	padding: 0px 10px;
	letter-spacing: 1px;
}

.new_user .field input[type='checkbox']{
	width: 18px;
}

.info
{
	background-color: #DCDCDC;
	padding: 15px 5%;
	font-size: 15px;
}

