/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
{
	margin: 0px;
	margin-top: -21px;
	font-family: monospace;
}

.header
{
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
	background-color: lightgreen;
}

.options
{
	background-color: lightblue;
}

.options ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
	display: block;
}

.options li
{
	min-width: 200px;
	display: inline-block;
	width: 23%;
	padding: 10px 0px;
	border: 1px solid grey;
}

.options li:hover
{
	background-color: lightgrey;
}

.options .option
{
	color: black;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

.header h1 a
{
	text-decoration: none;
	color: black;
}

.user-area
{
	
}

.books
{
	list-style: none;
	padding: 20px;
	text-align: center;
	margin: 0px;
}

.book
{
	display: inline-block;

	width: 15%;
	height: 180px;
	min-width: 150px;

	margin: 5px;
	padding: 12px 0px;
	line-height: 25px;
	border:1px solid black;

	cursor: pointer;

	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 400;

	background-color: grey;
}

.book.liked
{
	background-color: green;
}

.book:hover
{
	background-color: yellow;
} 

.books a
{
	text-decoration: none;
}

.book-info
{
	padding: 40px;
}